<div class="panel panel-default">
    <div class="panel-heading">
      <h2>Welcome to Course Management Application</h2>
    </div>
    <div class="panel-body">
      <div class="card" style= "margin:auto">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h4>Course Management Application</h4> 
          <h5>This application is created to demonstrate the Angular Concepts.</h5>
        </div>
      </div>
    </div>
  </div>
  
